@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
}

body{
  background: #e2e2e2;
}

nav div:nth-child(7){
  color: #bf0908;
}

.form-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input{
  border:2px solid #9c9c9c;
  border-radius: 10px;
}

a{
  text-decoration: underline ;

}

button{
  padding: 10px 20px;
  border-radius: 10px;
  transition: all .5s;
}